body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.fontaw {
     font-size: 90px;
}

.font1 {
     font-size: 18px;
}

.nav > li > a {
	position: relative;
	display: block;
	padding: 20px 10px;
}

.navbar-brand {
	float: left;
	height: 50px;
	padding: 10px 15px;
	font-size: 18px;
	line-height: 20px;
}
.navbar-custom .navbar-brand {
	font-size: 2.2em;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}